#app-drawer li {
    list-style: none;
  }
  
  /* When Menu is collapsed */
  #app-drawer.collapsible {
    width: 120px;
    transition: all 0.5s;
  }
  
  #app-drawer.collapsible ul li .menu-item-link .menu-title {
    display: none;
    transition: all 0.5s;
  }
  
  #app-drawer.collapsible ul li .sub-menu .sub-menu-items .sub-menu-title {
    display: none;
    transition: all 0.5s;
  }
  
  #app-drawer.collapsible ul li .menu-item-link .menu-title-header {
    font-size: 11px;
  }
  
  #app-drawer.collapsible ul li .menu-item-link,
  #app-drawer ul li .menu-icon {
    padding: 1rem 1.3rem;
  }
  
  #app-drawer ul li .menu-item-link {
    color: var(--dark);
    font-weight: 600;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 10px;
    font-size: 13px;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  #app-drawer ul li .menu-item-link:hover {
    background-color: var(--primary-300);
    color: var(--gray-100);
    transition: all 0.3s;
  }
  
  #app-drawer .menu-icon {
    background-color: var(--white-50);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  
  #app-drawer ul li .menu-item-link.active-link {
    background-color: var(--primary-50);
    color: var(--primary-500);
    font-weight: 600;
  }
  
  #app-drawer ul li .menu-item-link .menu-item-icon,
  #app-drawer ul li .sub-menu .sub-menu-items .menu-item-icon {
    font-size: 30px;
    background: var(--tertiary-color);
    color: var(--primary-color);
    padding: 4px;
    border-radius: 50%;
  }
  
  #app-drawer.collapsible ul li .sub-menu .sub-menu-items {
    padding: 1em 0 1em 1.8rem;
  }  
  #app-drawer ul li .sub-menu .sub-menu-items {
    color: var(--dark-500);
    font-weight: 500;
    font-size: 13px;
    padding: 0em 0 0em 2.3rem;
  }
  
  #app-drawer ul li .sub-menu .sub-menu-items:hover {
    color: var(--primary-400);
  }
  
  #app-drawer ul li .sub-menu .sub-menu-items.active-sub-menu {
    /* background-color: var(--primary-color); */
    color: var(--primary-500);
    font-weight: 700;
  }
  
  .sub-menu {
    height: 0;
    overflow-y: hidden;
    transition: all 3s;
  }
  .sub-menu-open {
    height: auto;
    transition: all 3s;
  }