/* APP DRAWER  */
#app-drawer {
    width: 280px;
    background-color: var(--primary-700);
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: 0; */
    overflow-y: auto;
    transition: all 0.5s;
}

/* When Menu is collapsed */
#app-drawer.collapsible {
    width: 100px;
    transition: all 0.5s;
}

#app-drawer.collapsible ul li .menu-item-link .menu-title {
  display: none;
    transition: all 0.5s;
}

#app-drawer.collapsible ul li .sub-menu .sub-menu-items .sub-menu-title {
    display: none;
      transition: all 0.5s;
  }

  #app-drawer.collapsible ul li .menu-item-link .menu-title-header {
    font-size: 11px;
  }

  #app-drawer.collapsible ul li .menu-item-link, #app-drawer ul li .menu-icon {
    padding: 1rem 1.3rem;
}

#app-drawer ul li .menu-item-link, #app-drawer ul li .menu-icon {
    color: var(--white-50);
    font-weight: 500;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 10px;
    font-size: 14px;
    padding: 1rem 1.8rem;
    justify-content: space-between;
    align-items: center;
}

#app-drawer ul li .menu-item-link.active-link {
    background-color: var(--primary-50);
    color: var(--gray-800);
    border-radius: 8px;
}

#app-drawer ul li .menu-item-link .menu-item-icon, #app-drawer ul li .sub-menu .sub-menu-items .menu-item-icon {
    font-size: 20px;
}

#app-drawer.collapsible ul li .sub-menu .sub-menu-items {
    padding: 1em 0 1em 3.8rem;
}

#app-drawer ul li .sub-menu .sub-menu-items {
    color: var(--white-50);
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 1.3em 0 1em 4rem;
}


#app-drawer ul li .sub-menu .sub-menu-items.active-sub-menu {
   background-color: var(--primary-200);
   color: var(--gray-800);
}
#app-drawer ul li .sub-menu  {
    /* background-color: var(--primary-200); */
}

/* APP HEADER  */
#app-header {
    /* box-shadow: var(--elevation-10) ; */
    /* background: var(--white-50); */
}

.app-header-content {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon {
    font-size: 23px;
}

.user-name {
    font-size: 15.6px;
    font-weight: 400;
}

.user-menu-actions {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 10px;
    align-items: center;
}

.header-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    border-radius: 50%;
}

/* FOOTER  */
li.menu-item {
list-style: none;
}

.menu-item {
    background-color: var(--primary-50);
    padding: 14px 25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.menu-item a {
    color: var(--dark-color);
}

.social-links  {
    margin-top:20px ;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    justify-content: center;
    gap:20px   
}

.social-links a .fa{
    color: #6B7280;
    font-size: 20px;
}

/* MOBILE MENU */
.mobile-menu-icon {
    display: none;
}


/* USER HEADER MENU  */
.user-header-menu {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    align-items: center;
    gap: 15px;
    padding: 8px 0;
}

.user-header-menu li {
    list-style: none;
}

#user-header {
    background-color: var(--gray-100);
    padding: 8px 0;
}

#user-header li a {
    font-size: 14.5px;
    color: var(--dark-color);
    display: flex;
    display: -webkit-flex;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    font-weight: 600;
}

#user-header li a:hover {
    text-decoration: none;
}

#user-header li .router-link-exact-active {
    color: var(--primary-500);
    font-weight: 600;
    position: relative;
}

#user-header li .router-link-exact-active::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var(--primary-500);
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}